body {
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    background-color: black;
    height: 600px;
    width: 350px;
    border-radius: 30px;
}
#output {
    /* background-color: white; */
    /* border: 2px solid white; */
    display: flex;
    justify-content: end;
    align-items: center;
    height: 180px;
    /* margin-bottom: 10px; */
}

#output p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 70pt;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 5px;
}

button {
    font-size: 20pt;
    width: 23%;
    height: 80px;
    border-radius: 50%;
    border: none;
}

.reset {
    margin-top: 10px;

    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
}

.reset button {
    border-radius: 50px;
    width: 160px;
}

.function {
    color: white;
    background-color: orange;
}
