body {
    color: white;
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    height: 600px;
    width: 350px;
}
#output {
    color: black;
    font-size: 50pt;
    background-color: white;
    border: 2px solid white;
    border-radius: 30px;
    height: 180px;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 5px;
}

button {
    font-size: 20pt;
    width: 23%;
    height: 80px;
    border-radius: 50%;
    border: none;
}
